<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Rating">
            <file>Rating/test/Model/RateResponseTest.php</file>
        </testsuite>
        <testsuite name="Tracking">
            <file>Tracking/test/Api/TrackingApiTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
